@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 56%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 71%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 27%;
    --input: 0 0% 27%;
    --ring: 0 0% 56%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
